.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 104px 26px;
  width: 90%;
  background: transparent;
  box-shadow: inset 0px -1px 0px #d1d2d6;
  text-decoration: none;
}
