.search__button {
  max-width: 168px;
  width: 100%;
  background-color: #2f71e5;
  color: white;
  border-radius: 50px;
  height: 64px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  padding: none;
  cursor: pointer;
}

.search__button:hover {
  background-color: #347eff;
}

.search__button:active {
  background-color: #2a65cc;
}
