.news__tooltip {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  color: #000000;
  padding: 11px 20px;
  margin: 0;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  top: 0;
  right: 45px;
  width: 162px;
  background: #ffffff;
  box-shadow: 0px 10px 22px rgb(59 74 116 / 10%);
  border-radius: 10px;
}

/* .news__button .news__tooltip {

  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

} */

.news__button:hover .news__tooltip {
  visibility: visible;
}
